#btnDiv {
  margin-bottom: 15px;
}

#mainBtn {
  margin: auto;
  display: block;
}

#mainDiv {
  margin: 0 auto;
  background: #0099ff;
  color: #fff;
  width: 100px;
  height: 30px;
  text-align: center;
}

#mainText {
  vertical-align: middle;
  line-height: 30px;
}
